:root {
	--container_bg_width: 1000px;

	--navbar-bg_color: #3f3e3e;

	--active-link-color: #080808;
	--default-link-color: #b1b1b1;
	--link-color-on-hover: white;

	--body_color: rgb(255, 255, 255);
}

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--body_color);
	font-size: 1.5rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

/* General Styles */
.container_bg {
	max-width: 1000px;
	margin: auto;
}

nav {
	padding: 0 5rem;
}

ul li {
	cursor: pointer;
}

/* Navigation */
nav {
	height: 5rem;
	background-color: var(--navbar-bg_color);
	color: var(--default-link-color);
	position: sticky;
	top: 0;
}

nav .nav_container {
	display: flex;
	height: 100%;
	align-items: center;
	font-size: 1.7rem;
}

.logo,
ul > li {
	padding: 10px;
}

.logo {
	height: 100%;
}

.nav_container_links ul.nav_container_links_items > li {
	transition: color 0.15s ease-in-out;
}

.nav_container_links .nav_container_links_items > li:hover {
	color: var(--link-color-on-hover);
}

.nav_container_links ul li.active {
	background-color: var(--active-link-color);
	color: var(--link-color-on-hover);
}

.nav_container_links ul li:last-child {
	position: relative;
	padding-right: 1.8rem;
}

.nav_container_links ul li:last-child label {
	display: inline-block;
	height: 100%;
	cursor: pointer;
}

.nav_container_links ul li:last-child ul.services_rendered,
.nav_container_links ul li:last-child #dojo {
	display: none;
}

.nav_container_links ul li:last-child #dojo:checked + ul {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.nav_container_links ul li:last-child label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 5px solid var(--default-link-color);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 50%;
	right: 0;
	transform: translateY(-100%);
	transition: color 0.15s ease-in-out;
}

.nav_container_links ul li:last-child:hover label::before {
	border-top-color: var(--link-color-on-hover);
}

form {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

form input {
	height: 80%;
	border-radius: 0.5rem;
	outline: none;
	border: 1px solid;
}

form input[type="submit"] {
	padding: 8px 10px;
	font-size: 1.5rem;
	background-color: white;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
}

form input[type="submit"]:hover {
	background-color: #f0f0f0;
}

form input[type="text"] {
	padding: 0 10px;
}

/* services rendered */
.services_rendered li {
	font-size: 1.7rem;
	color: initial;
	padding: 0.3rem 1.7rem;
}

.services_rendered li:hover {
	background-color: rgb(245, 245, 245);
}

/* set default state of the hamburger */
label.menu,
input#hamburger {
	display: none;
}

/* Nav container links */
.nav_container_links {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	height: 100%;
}

.nav_container_links ul.nav_container_links_items,
.services_rendered {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

/* ==============Media queries===============*/
@media screen and (max-width: 810px) {
	nav .nav_container {
		justify-content: space-between;
	}

	.nav_container_links {
		display: none;
	}

	label.menu {
		display: block;
		cursor: pointer;
		width: 3.5rem;
	}

	.logo {
		height: auto;
	}

	input#hamburger:checked + .nav_container_links {
		display: flex;
	}

	input#hamburger:checked + .nav_container_links li {
		padding: 10px 1rem;
	}

	.nav_container_links {
		position: absolute;
		background-color: var(--navbar-bg_color);
		height: 290px;
		top: 5rem;
		left: 0;
		flex-direction: column;
		width: 100%;
		padding: 10px 0;
		border-top: 1px solid #242424;
	}

	.nav_container_links ul.nav_container_links_items {
		flex-direction: column;
	}

	form {
		flex-direction: column;
		align-items: flex-start;
		padding: 1rem;
		border-top: 1px solid #242424;
		border-bottom: 1px solid #242424;
	}

	form input[type="text"] {
		padding: 10px;
		width: 100%;
	}

	.nav_container_links ul li:last-child label::before {
		left: 7.2rem;
		transform: translateY(-30%);
		border-top: 5px solid transparent;
		border-left: 5px solid var(--default-link-color);
		border-bottom: 5px solid transparent;
	}

	.nav_container_links ul li:last-child #dojo:checked + ul {
		border: 1px solid var(--default-link-color);
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -200%;
		left: 8.2rem;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	.nav_container_links ul li:last-child:hover label::before {
		border-left-color: var(--link-color-on-hover);
		border-top-color: transparent;
	}

	nav {
		padding: 1rem;
	}

	.logo {
		padding: 0;
	}
}
